doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign Up
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/query/jquery.js")
        script(src="/bootstrap/js/bootstrap.js")
        script(src="/js/script.js")
    body
        .container
            .row
                .col-lg-4.mx-auto
                    form(action="/signup", method="post", novalidate).needs-validation
                        h1.text-center Sign Up
                        include partials/messages.pug
                        .card
                            .card-body
                                .form-group
                                    label(for="username") Username:
                                    input(type="text", name="username",
                                    value=`${typeof username != 'undefined' ? username : ''}`,
                                    required)#username.form-control
                                    //- Feedback
                                    p.invalid-feedback Username is invalid
                                .form-group
                                    label(for="password") Password:
                                    input(type="password", name="password", 
                                    value=`${typeof password != 'undefined' ? password : ''}`,
                                    required)#password.form-control
                                    //- Feedback
                                    p.invalid-feedback Password is invalid
                                .form-group
                                    label(for="email") Email:
                                    input(type="email", name="email", 
                                    value=`${typeof email != 'undefined' ? email : ''}`,
                                    required)#email.form-control
                                    //- Feedback
                                    p.invalid-feedback Email is invalid
                                .form-group
                                    button(type="submit").btn.btn-success.btn-block Sign Up
                            .card-footer
                                p.text-center One of us? 
                                    a(href="/login") Login